{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    {% if show_private_opt %}    
    <ul class="list-group" id="messages">
      {% for message in messages %}
        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="{{ url_for('users_show', user_id=user.id) }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="{{ url_for('users_show', user_id=user.id) }}">@{{ user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>This is a private user, you need to follow this person to be able to see their messages.</p>
    {% endif %}
  </div>
{% endblock %}